ion-header {
    ion-toolbar {
        ion-title {
            color: #4aa1f3;
        }

        ion-icon {
            font-size: 30px;
            margin-right: 5px;
        }
    }
}

ion-content {
    ion-label {
        font-size: 16px;
        font-weight: 600;
        color: #4aa1f3;

        p {
            font-size: 14px;
            font-weight: normal;
            margin-top: 15px;
        }
    }

    .noFolder {
        color: #4aa1f3 !important;
        display: block;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}
